<div class="dashboard">
    <div class="card_size">
        <div class="row px-3">
            <div class="col-sm-1 col-md-1 col-lg-1">
            </div>
            <div class="col-sm-10 col-md-10 col-lg-10 my-3">
                <div class="row">
                    <div class="main col-sm-5">
                        <img class="mr-1 ml-2 " src="../../../assets/logo/qa.png" alt=""> <span class="fed_b">Feedback For :</span> <span class="name"> Sasidhar
                            samala</span> <span class="feed_b">Due Date</span> : <span class="dtee"> 30 Dec 2019</span>
                    </div>
                    <div class="col-sm-7 end">
                        dashboard <img class="mr-1 ml-2" src="../../../assets/logo/ic.png" alt="">
                    </div>
                </div>
                <div class="row mt-2 second_tab">
                    <div class="col-sm-6">
                        <div class="my-1">
                            This 360 Feedback assessment is designed to help and understand employees top strengths and
                            prioritize any areas to improve.
                        </div>
                        <div class="my-1"> The assesment typically takes around 10 minutes to fill in.Try to provide
                            constructive feedback.
                        </div>
                        <div class="my-1">When ask to provide a score for any employees performance,please use the
                            following scale:</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="diag"> Scale diagram </div>
                        <div class="row my-3">

                            <div class="col-sm-2 text-left">
                                <input type="text" class="form-control" value='1' disabled id="usr">
                                <label for="usr">Poor</label>
                            </div>
                            <div class="col-sm-2 text-left">
                                <input type="text" class="form-control" value='2' disabled id="usr">
                                <label for="usr">OK</label>
                            </div>
                            <div class="col-sm-2 text-left">
                                <input type="text" class="form-control" value='3' disabled id="usr">
                                <label for="usr">Good</label>
                            </div>
                            <div class="col-sm-2 text-left">
                                <input type="text" class="form-control ml-3" value='4' disabled id="usr">
                                <label for="usr">Very Good</label>
                            </div>
                            <div class="col-sm-2 text-left">
                                <input type="text" class="form-control ml-3" value='5' disabled id="usr">
                                <label for="usr">Exceptional</label>
                            </div>
                        </div>
                        <div>
                            Your answers will be saves as you go along so you can return later if needed.Thanks for your
                            help!
                        </div>

                    </div>

                </div>
                <div class="row third_tab">
                    <div class="col-sm-6 col-lg-6 col-md-6 mt-2 qus">
                        360 Feedback Questions
                    </div>
                    <div class="col-sm-6  col-lg-6 col-md-6 mt-2 last qus1">
                        * All Questions Mandatory
                    </div>
                </div>
                <div class="row fourth">
                    <div class="panel_arg ">
                        <p-panel header="{{question[0].sectionName}}" [toggleable]="true"
                            [style]="{'margin-bottom':'20px'}">
                            <div class="row">
                                <div class="col-sm-6 my-1">
                                                Q.{{question[0].questionId}}{{question[0].question}}
                                </div>
                                <div class="col-sm-6 my-1">
                                        <div class="row">
                                            <div class="col-sm-2">                                           
                                                <button type="button" (click)="que_1(1,1)" class="btn btn1 btn-light">1</button>        
                                           </div>
                                            <div class="col-sm-2">
                                                        <button type="button" (click)="que_1(1,2)" class="btn btn1 btn-light">2</button> 
                                            </div>
                                            <div class="col-sm-2">
                                                        <button type="button" (click)="que_1(1,3)" class="btn btn1 btn-light">3</button> 
                                            </div>
                                            <div class="col-sm-2">
                                                        <button type="button" (click)="que_1(1,4)" class="btn btn1 btn-light">4</button> 

                                            </div>
                                            <div class="col-sm-2">
                                                        <button type="button" (click)="que_1(1,5)" class="btn btn1 btn-light">5</button> 

                                            </div>
                                       
                                        </div>
                                </div>
                                
                                <div class="col-sm-6 my-1">
                                                Q.{{question[1].questionId}}{{question[1].question}}      
                                </div>
                                <div class="col-sm-6 my-1">
                                                <div class="row">
                                                                <div class="col-sm-2">                                           
                                                                    <button type="button" (click)="que_1(2,1)" class="btn btn1 btn-light">1</button>        
                                                               </div>
                                                                <div class="col-sm-2">
                                                                            <button type="button" (click)="que_1(2,2)" class="btn btn1 btn-light">2</button> 
                                                                </div>
                                                                <div class="col-sm-2">
                                                                            <button type="button" (click)="que_1(2,3)" class="btn btn1 btn-light">3</button> 
                                                                </div>
                                                                <div class="col-sm-2">
                                                                            <button type="button" (click)="que_1(2,4)" class="btn btn1 btn-light">4</button> 
                    
                                                                </div>
                                                                <div class="col-sm-2">
                                                                            <button type="button" (click)="que_1(2,5)" class="btn btn1 btn-light">5</button> 
                    
                                                                </div>
                                                           
                                                            </div>
                                </div>
                                <div class="col-sm-6 my-1">
                                                Q.{{question[2].questionId}}{{question[2].question}}       
                                </div>
                                <div class="col-sm-6 my-1">
                                                <div class="row">
                                                                <div class="col-sm-2">                                           
                                                                    <button type="button" (click)="que_1(3,1)" class="btn btn1 btn-light">1</button>        
                                                               </div>
                                                                <div class="col-sm-2">
                                                                            <button type="button" (click)="que_1(3,2)" class="btn btn1 btn-light">2</button> 
                                                                </div>
                                                                <div class="col-sm-2">
                                                                            <button type="button" (click)="que_1(3,3)" class="btn btn1 btn-light">3</button> 
                                                                </div>
                                                                <div class="col-sm-2">
                                                                            <button type="button" (click)="que_1(3,4)" class="btn btn1 btn-light">4</button> 
                    
                                                                </div>
                                                                <div class="col-sm-2">
                                                                            <button type="button" (click)="que_1(3,5)" class="btn btn1 btn-light">5</button> 
                    
                                                                </div>
                                                           
                                                            </div>
                                </div>
                                <div class="col-sm-6 my-1">
                                                Q.{{question[3].questionId}}{{question[3].question}}    
                                </div>
                                <div class="col-sm-6 my-1">
                                                <div class="row">
                                                                <div class="col-sm-2">                                           
                                                                    <button type="button" (click)="que_1(4,1)" class="btn btn1 btn-light">1</button>        
                                                               </div>
                                                                <div class="col-sm-2">
                                                                            <button type="button" (click)="que_1(4,2)" class="btn btn1 btn-light">2</button> 
                                                                </div>
                                                                <div class="col-sm-2">
                                                                            <button type="button" (click)="que_1(4,3)" class="btn btn1 btn-light">3</button> 
                                                                </div>
                                                                <div class="col-sm-2">
                                                                            <button type="button" (click)="que_1(4,4)" class="btn btn1 btn-light">4</button> 
                    
                                                                </div>
                                                                <div class="col-sm-2">
                                                                            <button type="button" (click)="que_1(4,5)" class="btn btn1 btn-light">5</button> 
                    
                                                                </div>
                                                           
                                                            </div>
                                </div>
                               
                                
                                
                            </div>
                        </p-panel>

                        <!-- <p-panel header="Analysis and decision making" [toggleable]="true"
                            [style]="{'margin-bottom':'20px'}">
                            <div class="row">
                                    <div class="col-sm-6 my-1">
                                            Q.1 Sets clear and realistic goals
                                    </div>
                                    <div class="col-sm-6 my-1">
                                            <div class="row">
                                                <div class="col-sm-2 ">
                                                        <input _ngcontent-otu-c3="" class="form-control box" disabled="" id="usr"
                                                        type="text" value="1">
                                                </div>
                                                <div class="col-sm-2">
                                                        <input _ngcontent-otu-c3="" class="form-control box" disabled="" id="usr"
                                                        type="text" value="2">
                                                </div>
                                                <div class="col-sm-2">
                                                        <input _ngcontent-otu-c3="" class="form-control box" disabled="" id="usr"
                                                        type="text" value="3">
                                                </div>
                                                <div class="col-sm-2">
                                                        <input _ngcontent-otu-c3="" class="form-control box" disabled="" id="usr"
                                                        type="text" value="4">
                                                </div>
                                                <div class="col-sm-2">
                                                        <input _ngcontent-otu-c3="" class="form-control box" disabled="" id="usr"
                                                        type="text" value="5">
                                                </div>
                                           
                                            </div>
                                    </div>
                                    
                                    <div class="col-sm-6 my-1">
                                            Q.2 Taking on an appropriate workload and providing sensible
                                    </div>
                                    <div class="col-sm-6 my-1">
                                            <div class="row">
                                                <div class="col-sm-2">
                                                        <input _ngcontent-otu-c3="" class="form-control box" disabled="" id="usr"
                                                        type="text" value="1">
                                                </div>
                                                <div class="col-sm-2">
                                                        <input _ngcontent-otu-c3="" class="form-control box" disabled="" id="usr"
                                                        type="text" value="2">
                                                </div>
                                                <div class="col-sm-2">
                                                        <input _ngcontent-otu-c3="" class="form-control box" disabled="" id="usr"
                                                        type="text" value="3">
                                                </div>
                                                <div class="col-sm-2">
                                                        <input _ngcontent-otu-c3="" class="form-control box" disabled="" id="usr"
                                                        type="text" value="4">
                                                </div>
                                                <div class="col-sm-2">
                                                        <input _ngcontent-otu-c3="" class="form-control box" disabled="" id="usr"
                                                        type="text" value="5">
                                                </div>
                                           
                                            </div>
                                    </div>
                                    <div class="col-sm-6 my-1">
                                            Q.3 Productive both when working alone and in groups
                                    </div>
                                    <div class="col-sm-6 my-1">
                                            <div class="row">
                                                <div class="col-sm-2">
                                                        <input _ngcontent-otu-c3="" class="form-control box" disabled="" id="usr"
                                                        type="text" value="1">
                                                </div>
                                                <div class="col-sm-2">
                                                        <input _ngcontent-otu-c3="" class="form-control box" disabled="" id="usr"
                                                        type="text" value="2">
                                                </div>
                                                <div class="col-sm-2">
                                                        <input _ngcontent-otu-c3="" class="form-control box" disabled="" id="usr"
                                                        type="text" value="3">
                                                </div>
                                                <div class="col-sm-2">
                                                        <input _ngcontent-otu-c3="" class="form-control box" disabled="" id="usr"
                                                        type="text" value="4">
                                                </div>
                                                <div class="col-sm-2">
                                                        <input _ngcontent-otu-c3="" class="form-control box" disabled="" id="usr"
                                                        type="text" value="5">
                                                </div>
                                           
                                            </div>
                                    </div>
                                    <div class="col-sm-6 my-1">
                                            Q.4 Effective at identifying problems,breaking these down and
                                            reposing solutions
                                    </div>
                                    <div class="col-sm-6 my-1">
                                            <div class="row">
                                                <div class="col-sm-2">
                                                        <input _ngcontent-otu-c3="" class="form-control box" disabled="" id="usr"
                                                        type="text" value="1">
                                                </div>
                                                <div class="col-sm-2">
                                                        <input _ngcontent-otu-c3="" class="form-control box" disabled="" id="usr"
                                                        type="text" value="2">
                                                </div>
                                                <div class="col-sm-2">
                                                        <input _ngcontent-otu-c3="" class="form-control box" disabled="" id="usr"
                                                        type="text" value="3">
                                                </div>
                                                <div class="col-sm-2">
                                                        <input _ngcontent-otu-c3="" class="form-control box" disabled="" id="usr"
                                                        type="text" value="4">
                                                </div>
                                                <div class="col-sm-2">
                                                        <input _ngcontent-otu-c3="" class="form-control box" disabled="" id="usr"
                                                        type="text" value="5">
                                                </div>
                                           
                                            </div>
                                    </div>
                                    <div class="col-sm-6 my-1">
                                            Q.5 Technically competent-able to produce quality work
                                    </div>
                                    <div class="col-sm-6 my-1">
                                            <div class="row">
                                                <div class="col-sm-2">
                                                        <input _ngcontent-otu-c3="" class="form-control box" disabled="" id="usr"
                                                        type="text" value="1">
                                                </div>
                                                <div class="col-sm-2">
                                                        <input _ngcontent-otu-c3="" class="form-control box" disabled="" id="usr"
                                                        type="text" value="2">
                                                </div>
                                                <div class="col-sm-2">
                                                        <input _ngcontent-otu-c3="" class="form-control box" disabled="" id="usr"
                                                        type="text" value="3">
                                                </div>
                                                <div class="col-sm-2">
                                                        <input _ngcontent-otu-c3="" class="form-control box" disabled="" id="usr"
                                                        type="text" value="4">
                                                </div>
                                                <div class="col-sm-2">
                                                        <input _ngcontent-otu-c3="" class="form-control box" disabled="" id="usr"
                                                        type="text" value="5">
                                                </div>
                                           
                                            </div>
                                    </div>
                                    
                                </div>
                        </p-panel> -->

                        <!-- <p-panel header="Leadership and communication " [toggleable]="true"
                            [style]="{'margin-bottom':'20px'}">
                            <div class="row">
                                    <div class="col-sm-6 my-1">
                                            Q.1 Sets clear and realistic goals
                                    </div>
                                    <div class="col-sm-6 my-1">
                                            <div class="row">
                                                <div class="col-sm-2">
                                                        <input _ngcontent-otu-c3="" class="form-control box" disabled="" id="usr"
                                                        type="text" value="1">
                                                </div>
                                                <div class="col-sm-2">
                                                        <input _ngcontent-otu-c3="" class="form-control box" disabled="" id="usr"
                                                        type="text" value="2">
                                                </div>
                                                <div class="col-sm-2">
                                                        <input _ngcontent-otu-c3="" class="form-control box" disabled="" id="usr"
                                                        type="text" value="3">
                                                </div>
                                                <div class="col-sm-2">
                                                        <input _ngcontent-otu-c3="" class="form-control box" disabled="" id="usr"
                                                        type="text" value="4">
                                                </div>
                                                <div class="col-sm-2">
                                                        <input _ngcontent-otu-c3="" class="form-control box" disabled="" id="usr"
                                                        type="text" value="5">
                                                </div>
                                           
                                            </div>
                                    </div>
                                    
                                    <div class="col-sm-6 my-1">
                                            Q.2 Taking on an appropriate workload and providing sensible
                                    </div>
                                    <div class="col-sm-6 my-1">
                                            <div class="row">
                                                <div class="col-sm-2">
                                                        <input _ngcontent-otu-c3="" class="form-control box" disabled="" id="usr"
                                                        type="text" value="1">
                                                </div>
                                                <div class="col-sm-2">
                                                        <input _ngcontent-otu-c3="" class="form-control box" disabled="" id="usr"
                                                        type="text" value="2">
                                                </div>
                                                <div class="col-sm-2">
                                                        <input _ngcontent-otu-c3="" class="form-control box" disabled="" id="usr"
                                                        type="text" value="3">
                                                </div>
                                                <div class="col-sm-2">
                                                        <input _ngcontent-otu-c3="" class="form-control box" disabled="" id="usr"
                                                        type="text" value="4">
                                                </div>
                                                <div class="col-sm-2">
                                                        <input _ngcontent-otu-c3="" class="form-control box" disabled="" id="usr"
                                                        type="text" value="5">
                                                </div>
                                           
                                            </div>
                                    </div>
                                    <div class="col-sm-6 my-1">
                                            Q.3 Productive both when working alone and in groups
                                    </div>
                                    <div class="col-sm-6 my-1">
                                            <div class="row">
                                                <div class="col-sm-2">
                                                        <input _ngcontent-otu-c3="" class="form-control box" disabled="" id="usr"
                                                        type="text" value="1">
                                                </div>
                                                <div class="col-sm-2">
                                                        <input _ngcontent-otu-c3="" class="form-control box" disabled="" id="usr"
                                                        type="text" value="2">
                                                </div>
                                                <div class="col-sm-2">
                                                        <input _ngcontent-otu-c3="" class="form-control box" disabled="" id="usr"
                                                        type="text" value="3">
                                                </div>
                                                <div class="col-sm-2">
                                                        <input _ngcontent-otu-c3="" class="form-control box" disabled="" id="usr"
                                                        type="text" value="4">
                                                </div>
                                                <div class="col-sm-2">
                                                        <input _ngcontent-otu-c3="" class="form-control box" disabled="" id="usr"
                                                        type="text" value="5">
                                                </div>
                                           
                                            </div>
                                    </div>
                                    <div class="col-sm-6 my-1">
                                            Q.4 Effective at identifying problems,breaking these down and
                                            reposing solutions
                                    </div>
                                    <div class="col-sm-6 my-1">
                                            <div class="row">
                                                <div class="col-sm-2">
                                                        <input _ngcontent-otu-c3="" class="form-control box" disabled="" id="usr"
                                                        type="text" value="1">
                                                </div>
                                                <div class="col-sm-2">
                                                        <input _ngcontent-otu-c3="" class="form-control box" disabled="" id="usr"
                                                        type="text" value="2">
                                                </div>
                                                <div class="col-sm-2">
                                                        <input _ngcontent-otu-c3="" class="form-control box" disabled="" id="usr"
                                                        type="text" value="3">
                                                </div>
                                                <div class="col-sm-2">
                                                        <input _ngcontent-otu-c3="" class="form-control box" disabled="" id="usr"
                                                        type="text" value="4">
                                                </div>
                                                <div class="col-sm-2">
                                                        <input _ngcontent-otu-c3="" class="form-control box" disabled="" id="usr"
                                                        type="text" value="5">
                                                </div>
                                           
                                            </div>
                                    </div>
                                    <div class="col-sm-6 my-1">
                                            Q.5 Technically competent-able to produce quality work
                                    </div>
                                    <div class="col-sm-6 my-1">
                                            <div class="row">
                                                <div class="col-sm-2">
                                                        <input _ngcontent-otu-c3="" class="form-control box" disabled="" id="usr"
                                                        type="text" value="1">
                                                </div>
                                                <div class="col-sm-2">
                                                        <input _ngcontent-otu-c3="" class="form-control box" disabled="" id="usr"
                                                        type="text" value="2">
                                                </div>
                                                <div class="col-sm-2">
                                                        <input _ngcontent-otu-c3="" class="form-control box" disabled="" id="usr"
                                                        type="text" value="3">
                                                </div>
                                                <div class="col-sm-2">
                                                        <input _ngcontent-otu-c3="" class="form-control box" disabled="" id="usr"
                                                        type="text" value="4">
                                                </div>
                                                <div class="col-sm-2">
                                                        <input _ngcontent-otu-c3="" class="form-control box" disabled="" id="usr"
                                                        type="text" value="5">
                                                </div>
                                           
                                            </div>
                                    </div>
                                    
                                </div>
                        </p-panel> -->
                        <!-- <p-panel header="Do you have any other comments? (Optional)" [toggleable]="true"
                            [style]="{'margin-bottom':'20px'}">
                            <div class="row">
                                    <div class="col-sm-6 my-1">
                                            Q.1 Sets clear and realistic goals
                                    </div>
                                    <div class="col-sm-6 my-1">
                                            <div class="row">
                                                <div class="col-sm-2">
                                                        <input _ngcontent-otu-c3="" class="form-control box" disabled="" id="usr"
                                                        type="text" value="1">
                                                </div>
                                                <div class="col-sm-2">
                                                        <input _ngcontent-otu-c3="" class="form-control box" disabled="" id="usr"
                                                        type="text" value="2">
                                                </div>
                                                <div class="col-sm-2">
                                                        <input _ngcontent-otu-c3="" class="form-control box" disabled="" id="usr"
                                                        type="text" value="3">
                                                </div>
                                                <div class="col-sm-2">
                                                        <input _ngcontent-otu-c3="" class="form-control box" disabled="" id="usr"
                                                        type="text" value="4">
                                                </div>
                                                <div class="col-sm-2">
                                                        <input _ngcontent-otu-c3="" class="form-control box" disabled="" id="usr"
                                                        type="text" value="5">
                                                </div>
                                           
                                            </div>
                                    </div>
                                    
                                    <div class="col-sm-6 my-1">
                                            Q.2 Taking on an appropriate workload and providing sensible
                                    </div>
                                    <div class="col-sm-6 my-1">
                                            <div class="row">
                                                <div class="col-sm-2">
                                                        <input _ngcontent-otu-c3="" class="form-control box" disabled="" id="usr"
                                                        type="text" value="1">
                                                </div>
                                                <div class="col-sm-2">
                                                        <input _ngcontent-otu-c3="" class="form-control box" disabled="" id="usr"
                                                        type="text" value="2">
                                                </div>
                                                <div class="col-sm-2">
                                                        <input _ngcontent-otu-c3="" class="form-control box" disabled="" id="usr"
                                                        type="text" value="3">
                                                </div>
                                                <div class="col-sm-2">
                                                        <input _ngcontent-otu-c3="" class="form-control box" disabled="" id="usr"
                                                        type="text" value="4">
                                                </div>
                                                <div class="col-sm-2">
                                                        <input _ngcontent-otu-c3="" class="form-control box" disabled="" id="usr"
                                                        type="text" value="5">
                                                </div>
                                           
                                            </div>
                                    </div>
                                    <div class="col-sm-6 my-1">
                                            Q.3 Productive both when working alone and in groups
                                    </div>
                                    <div class="col-sm-6 my-1">
                                            <div class="row">
                                                <div class="col-sm-2">
                                                        <input _ngcontent-otu-c3="" class="form-control box" disabled="" id="usr"
                                                        type="text" value="1">
                                                </div>
                                                <div class="col-sm-2">
                                                        <input _ngcontent-otu-c3="" class="form-control box" disabled="" id="usr"
                                                        type="text" value="2">
                                                </div>
                                                <div class="col-sm-2">
                                                        <input _ngcontent-otu-c3="" class="form-control box" disabled="" id="usr"
                                                        type="text" value="3">
                                                </div>
                                                <div class="col-sm-2">
                                                        <input _ngcontent-otu-c3="" class="form-control box" disabled="" id="usr"
                                                        type="text" value="4">
                                                </div>
                                                <div class="col-sm-2">
                                                        <input _ngcontent-otu-c3="" class="form-control box" disabled="" id="usr"
                                                        type="text" value="5">
                                                </div>
                                           
                                            </div>
                                    </div>
                                    <div class="col-sm-6 my-1">
                                            Q.4 Effective at identifying problems,breaking these down and
                                            reposing solutions
                                    </div>
                                    <div class="col-sm-6 my-1">
                                            <div class="row">
                                                <div class="col-sm-2">
                                                        <input _ngcontent-otu-c3="" class="form-control box" disabled="" id="usr"
                                                        type="text" value="1">
                                                </div>
                                                <div class="col-sm-2">
                                                        <input _ngcontent-otu-c3="" class="form-control box" disabled="" id="usr"
                                                        type="text" value="2">
                                                </div>
                                                <div class="col-sm-2">
                                                        <input _ngcontent-otu-c3="" class="form-control box" disabled="" id="usr"
                                                        type="text" value="3">
                                                </div>
                                                <div class="col-sm-2">
                                                        <input _ngcontent-otu-c3="" class="form-control box" disabled="" id="usr"
                                                        type="text" value="4">
                                                </div>
                                                <div class="col-sm-2">
                                                        <input _ngcontent-otu-c3="" class="form-control box" disabled="" id="usr"
                                                        type="text" value="5">
                                                </div>
                                           
                                            </div>
                                    </div>
                                    <div class="col-sm-6 my-1">
                                            Q.5 Technically competent-able to produce quality work
                                    </div>
                                    <div class="col-sm-6 my-1">
                                            <div class="row">
                                                <div class="col-sm-2">
                                                        <input _ngcontent-otu-c3="" class="form-control box" disabled="" id="usr"
                                                        type="text" value="1">
                                                </div>
                                                <div class="col-sm-2">
                                                        <input _ngcontent-otu-c3="" class="form-control box" disabled="" id="usr"
                                                        type="text" value="2">
                                                </div>
                                                <div class="col-sm-2">
                                                        <input _ngcontent-otu-c3="" class="form-control box" disabled="" id="usr"
                                                        type="text" value="3">
                                                </div>
                                                <div class="col-sm-2">
                                                        <input _ngcontent-otu-c3="" class="form-control box" disabled="" id="usr"
                                                        type="text" value="4">
                                                </div>
                                                <div class="col-sm-2">
                                                        <input _ngcontent-otu-c3="" class="form-control box" disabled="" id="usr"
                                                        type="text" value="5">
                                                </div>
                                           
                                            </div>
                                    </div>
                                    
                                </div>
                        </p-panel> -->
                    </div>
                </div>
                <div class="row six_panel">
                    <div class=" col-sm-10">
                    </div>
                    <div class=" col-sm-2 mt-2 ">
                        <button type="button" class="btn btn-primary mb-2" (click)="SentAnswer()">Submit</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-1 col-md-1 col-lg-1">
            </div>
        </div>

    </div>
</div>