<div class="dashboard">
    <div class="card_size">
        <div class="row px-3">

            <div class="col-sm-1 col-md-1 col-lg-1">

            </div>
            <div class="col-sm-10 col-md-10 col-lg-10 my-3">
                <div class="row">
                    <div class="main col-sm-5">
                        <img class="mr-1 ml-2" src="../../../assets/logo/qa.png" alt=""> Feedback For : <span> Sasidhar
                            samala</span> Due Date : <span> 30 Dec 2019</span>
                    </div>
                    <div class="col-sm-7 end">
                        dashboard <img class="mr-1 ml-2" src="../../../assets/logo/ic.png" alt="">
                    </div>
                </div>
                <div class="row mt-2 second_tab">
                    <div class="col-sm-6">
                        <div class="my-1">
                            This 360 Feedback assessment is designed to help and understand employees top strengths and
                            prioritize any areas to improve.
                        </div>
                        <div class="my-1"> The assesment typically takes around 10 minutes to fill in.Try to provide
                            constructive feedback.
                        </div>
                        <div class="my-1">When ask to provide a score for any employees performance,please use the
                            following scale:</div>
                    </div>
                    <div class="col-sm-6">
                        <div> Scale diagram </div>
                        <div class="row my-2">

                            <div class="col-sm-2 text-center">
                                <input type="text" class="form-control" value='1' disabled id="usr">
                                <label for="usr">Poor:</label>
                            </div>
                            <div class="col-sm-2 text-center">
                                <input type="text" class="form-control" value='2' disabled id="usr">
                                <label for="usr">OK</label>
                            </div>
                            <div class="col-sm-2 text-center">
                                <input type="text" class="form-control" value='3' disabled id="usr">
                                <label for="usr">Good</label>
                            </div>
                            <div class="col-sm-2 text-center">
                                <input type="text" class="form-control" value='4' disabled id="usr">
                                <label for="usr">Very Good</label>
                            </div>
                            <div class="col-sm-2 text-center">
                                <input type="text" class="form-control" value='5' disabled id="usr">
                                <label for="usr">Excaptional</label>
                            </div>
                        </div>
                        <div>
                            Your answers will be saves as you go along so you can return later if needed.Thanks for your
                            help!
                        </div>

                    </div>

                </div>
                <div class="row third_tab">
                    <div class="col-sm-6 col-lg-6 col-md-6 mt-2">
                        360 Feedback Questions
                    </div>
                    <div class="col-sm-6  col-lg-6 col-md-6 mt-2 last">
                        * All Questions Mandatory
                    </div>
                </div>
                <div class="row fourth">
                   <div class="panel_arg">
                    <p-panel header="Planning and delivering" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
                            The story begins as Don Vito Corleone, the head of a New York Mafia family, oversees his daughter's wedding.
                            His beloved son Michael has just come home from the war, but does not intend to become part of his father's business.
                            Through Michael's life the nature of the family business becomes clear. The business of the family is just like the head of the family,
                            kind and benevolent to those who give respect, but given to ruthless violence whenever anything stands against the good of the family.
                    </p-panel>
                        
                    <p-panel header="Analysis and decision making" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
                            The story begins as Don Vito Corleone, the head of a New York Mafia family, oversees his daughter's wedding.
                            His beloved son Michael has just come home from the war, but does not intend to become part of his father's business.
                            Through Michael's life the nature of the family business becomes clear. The business of the family is just like the head of the family,
                            kind and benevolent to those who give respect, but given to ruthless violence whenever anything stands against the good of the family.
                    </p-panel>
                      
                    <p-panel header="Leadership and communication " [toggleable]="true" [style]="{'margin-bottom':'20px'}">
                            The story begins as Don Vito Corleone, the head of a New York Mafia family, oversees his daughter's wedding.
                            His beloved son Michael has just come home from the war, but does not intend to become part of his father's business.
                            Through Michael's life the nature of the family business becomes clear. The business of the family is just like the head of the family,
                            kind and benevolent to those who give respect, but given to ruthless violence whenever anything stands against the good of the family.
                    </p-panel>
                    <p-panel header="Do you have any other comments? (Optional)" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
                            The story begins as Don Vito Corleone, the head of a New York Mafia family, oversees his daughter's wedding.
                            His beloved son Michael has just come home from the war, but does not intend to become part of his father's business.
                            Through Michael's life the nature of the family business becomes clear. The business of the family is just like the head of the family,
                            kind and benevolent to those who give respect, but given to ruthless violence whenever anything stands against the good of the family.
                    </p-panel>
                   </div>
                 </div>
                 <div class="row six_panel">
                        <div class=" col-sm-11">
                        </div>
                            <div class=" col-sm-1 last my-2">
                              <button type="button" class="btn btn-primary">Primary</button>
                            </div>
                 </div>
               
                

            </div>
            <div class="col-sm-1 col-md-1 col-lg-1">
            </div>
        </div>
       
    </div>
</div>