.dashboard{
    height: 89vh;
    background-color: #ECEFF1;
 }

 .card_size{
    padding-top: 2%;
}

.main{
    background-color: white;    
    padding: 6px;
}

.end{
    text-align: end;
    color: blue
}
.last{
    text-align: end;
}

.form-control:disabled{
 //  background-color: white ;
    height: 29px;
    width: 33px;
    font-weight: bolder;
    font-size: small;
}

.second_tab{
    background-color: #607D8B;
    color: white
}

.third_tab, .six_panel{
    background-color: white;
    // height: 435px;
   
}

.fourth{
    padding: 0px 10px 0px 10xp;
}

.panel_arg{
    padding: 10px;
    background-color: white;
    height: 330px;
     overflow-y: auto;
    overflow-x: hidden;
}
p-panel{
    padding: 5px 10px 5px 10px;
}

:host ::ng-deep  .ui-panel{
    margin: 0px !important;
}
.my-2{
    margin-bottom: -1.6rem !important;
    
}

.qus{
    color: #D2345C;
    font-weight: bold;
}
.qus1{
    color: #D2345C;
    font-size: small;

}
.name{
    color: #2C75FF;
    font-weight: bold;
}
.diag{
    color: #FCC612;
}
.btn{
    width: 120px;
   
}