
<div class="dashboard">
  <div class="card_size">
    <div class="main row px-3">
      <div class="col-sm-1 col-md-1 col-lg-1">

      </div>
      <div class="col-lg-4 col-sm-4 col-md-4 col-4 px-3 clickable">
        <div class="info-card gradient">
          <div class="row">
            <div class="col-sm-10">
              <div class="my-1">Admin Dashboard </div>
              <div class="my-1 admin"> Admin Name : <span class="ml-1"> {{name}} </span> </div>
              <div class="my-1 admin"> Designation :<span class="ml-1"> {{designation}} </span></div>
              <div class="my-1 admin"> Employee ID :<span class="ml-1">{{empid}} </span></div>
            </div>
            <div class="col-sm-2 float-right profile">
              <img class="profileImage" src="http://lorempixel.com/100/100" />
            </div>

          </div>
        </div>
      </div>

      <div class="col-lg-2 col-sm-2 col-md-2 col-2 px-3 clickable">
        <div class="info-card gradient">
          <div class="row">
            <div class="col-sm-10">
              <div class="my-1"> Total Events</div>
              <!-- <div class="mt-3 event"> {{totalvalue?.totalEmployees}} Employees</div> -->
            </div>

            <div class="col-sm-2 Events">
              <div class="num">
                <div class="count">0 {{totalvalue?.totalEvents}}</div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="col-lg-2 col-sm-2 col-md-2 col-2 px-3 clickable">
        <div class="info-card gradient">
          <div class="row">
            <div class="col-sm-10 col-lg-10 col-md-10">
              <div class="my-1"> Completed Feedback</div>
              <!-- <div class="mt-3 event"> {{totalvalue?.totalEmployees}} Employees </div> -->
            </div>

            <div class="col-sm-2 col-lg-2 col-md-2 Events">
              <div class="num1">
                <div class="count"> {{totalvalue?.totalReceived}} </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="col-lg-2 col-sm-2 col-md-2 col-2 px-3 clickable">
        <div class="info-card gradient">
          <div class="row">
            <div class="col-sm-10 col-lg-10 col-md-10">
              <div class="my-1"> Pending Feedback</div>
              <!-- <div class="mt-3 event"> {{totalvalue?.totalEmployees}} Employees </div> -->
            </div>

            <div class="col-sm-2 col-lg-2 col-md-2 Events">
              <div class="num2">
                <div class="count"> 0 {{totalvalue?.totalPending}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-1 col-md-1 col-lg-1">

      </div>

    </div>
  </div>

  <div class="table_box row">
    <div class="col-sm-1 col-md-1 col-lg-1">

    </div>
    <div class="col-sm-10 col-md-10 col-lg-10 my-3 card_body_main">
      <div class="card">
        <div class="card-header" *ngIf="EventList">
          <div class="d-flex">
              <div class="p-2 mr-auto auto "><img src="../../../assets/logo/clipboard-list.png" alt="">
                <span class="evnt">Events List</span>
               </div>
            <div class="p-2">
              <div class="input-group">
                <input type="text" class="form-control"  [(ngModel)]="term" placeholder="Search events">
                <div class="input-group-append">
                  <button class="btn btn-secondary" type="button">
                    <i class="fa fa-search"></i>
                  </button>
                </div>
              </div>
            </div>
            <div class="p-2">
              <button class="btn btn-primary" (click)="OpenEvent()" >Create Event</button>
            </div>
          </div>

        </div>
        <div class="card-header" *ngIf="CreateEvent">

            <div class="d-flex">
              <div class="p-2 mr-auto evnt"><img src="../../../assets/logo/create event icon.png" alt=""> Create Events </div>
              <div class="p-2">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search events">
                  <div class="input-group-append">
                    <button class="btn btn-secondary" type="button">
                      <i class="fa fa-search"></i>
                    </button>
                  </div>
                </div>
              </div>
              <div class="p-2">
                  <button class="btn btn-primary add_b" (click)="CloseEvent()">Event List</button>
              </div>
            </div>
  
          </div>
          <p-dialog [(visible)]="display">
            <p-header class="dialogHeader">
            <img src="../../../assets/logo/profile.png" alt="">
            Employee Profile
            </p-header>
            <div class="row box">
            <div class="col-sm-6 my-1 txt1">
            <div class="row">
            <div class="col-sm-6 empl_o"> Employee Name :</div> 
         
            <div class="col-sm-6 emplo"> {{info?.empName}}</div>
            </div>
            </div>
            <div class="col-sm-6 my-1 txt1">
            <span class="emp_l"> Invited Events :</span> <span class="emp">{{info?.invitedEvents}}</span>
            </div>
            <div class="col-sm-6 my-1 txt1">
              <div class="row">
            <div class="col-sm-6 empl_o">Designation :</div>
            <div class="col-sm-6 emplo">{{info?.designation}}</div>
            </div>
            </div>
            <div class="col-sm-6 my-1 txt1">
            <span class="emp_l1" >Received Events :</span ><span class="emp">{{info?.receivedEvents}}</span>
            </div>
            <div class="col-sm-6 my-1 txt1">
              <div class="row">
            <div class="col-sm-6 empl_o"> ID :</div> <div class="col-sm-6 emplo">{{info?.empId}}</div>
            </div>
            </div>
            <div class="col-sm-6 my-1 txt1">
            <span class="emp_l2">Pending Feedbacks :</span> <span class="emp" style="color:#DF0058;">{{info?.pendingEvents}} </span>
            </div>
            <div class="col-sm-6 my-1 txt1">
              <div class="row">
            <div class="col-sm-6 empl_o">Email :</div> <div class="col-sm-6 emplo ">{{info?.email}}</div>
            </div>
            </div>
            <div class="col-sm-6 my-1">
            
            </div>
            <div class="col-sm-6 my-1 txt1">
              <div class="row">
            <div class="col-sm-6 empl_o" >Cell No :</div><div class="col-sm-6 emplo">{{info?.contactNo}}</div>
            </div>
            </div>
            <div class="col-sm-6 my-1" >
            
            <!-- <button class="btn btn1" type="submit" >Send Reminder </button> -->
            </div>
            </div>
            </p-dialog>
        <div class="card-body" *ngIf="EventList">
               
          <table class="table table-striped" style="margin: auto; width: 85%;">
            <thead>
              <tr class="head">
                <th scope="col">NO</th>
                <th scope="col">Event Holder</th>
                <th scope="col">Employee ID</th>
                <th scope="col">Invited Employee</th>
                <th scope="col">Received Feedback</th>
                <th scope="col">Pending Feedback</th>
                <th scope="col">Due Date</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of data |filter:term | sort:'dueDate' | paginate: config ; let i = index" (click)="showDialog(data?.empId)">
                  
                <td scope="row" class="name">{{i+1}}</td>
                <td class="name">{{data?.toEmpName}}</td>
                <td align="right" class="blue">{{data?.empId}}</td>
                <td align="right" class="name">{{data?.invited}}</td>
                <td align="right" class="name">{{data?.received}}</td>
                <td align="right" class="red">{{data?.pending}}</td>
                <td class="name">{{data?.dueDate}}</td>
              </tr>

              
            </tbody>
          </table>  
          <div>
          <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
          </div>
        </div>

        <div class="card-body" *ngIf="CreateEvent">
          <div class="row">
            <div class="col-sm-5">
                <div class="my-2">
                    Select  employee from below list for to.
                 </div>
                <table class="table table-striped">
                    <thead>
                      <tr class="head">
                        <th scope="col">Select</th>
                        <th scope="col">Employee Name</th>
                        <th scope="col">Employee ID</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let data of dataInfoFrom | paginate: configerfrom"  >
                        <td class="name" align="center"> 
                          <input type="radio" name="{{data.name}}" value="{{data.id}}" (change)="onChangeRadio(data.name,data.id)" [(ngModel)]="isActive">

                          <!-- <input type="radio" class="form-check-input"  (change)="onChangeRadio(data.name,data.id)" id="{{data.id}}"  name="optradio"> </td> -->
                        <td align="right" class="blue">{{data.name}}</td>
                        <td align="right" class="name">{{data.id}}</td>
                      </tr>
        
                      
                    </tbody>
                  </table>  
                  <pagination-controls (pageChange)="pageChangedfrom($event)"></pagination-controls>
     
            </div>
            <div class="col-sm-5"> 
              <div class="my-2">
                 Select and add multiple employee for send feedback.
              </div>
              <table class="table table-striped">
                <thead>
                  <tr class="head">
                    <th scope="col">Select</th>
                    <th scope="col">Employee Name</th>
                    <th scope="col">Employee ID</th>
                  </tr>
                </thead>
                <tbody class="tbody">
                  <tr *ngFor="let data of dataInfoSent | paginate: configer" >
                    <td class="name" align="center">  
                      <div class="form-check">
                   
                      <input #checkboxes type="checkbox" class="form-check-input"  (change)="onChange(data.name, data.id , $event.target.checked)" id="{{data.id}}">
                   </div>
                    </td>
                    <td align="right" class="blue">{{data.name}}</td>
                    <td align="right" class="name">{{data.id}}</td>
                  </tr>
    
                  
                </tbody>
              </table> 
              <pagination-controls (pageChange)="pageChangedsent($event)"></pagination-controls>
     
            </div>
            <div class="col-sm-2"></div>
            
              <div class="col-sm-10 underline"> 
                  <button class="btn btn-primary mr-1 add_r" (click)="Reset()">Reset</button>
                  <button class="btn btn-primary ml-1 add_b" (click)="AddMenu()">Add</button>
              </div>
              <div class="col-sm-2">

              </div>
            </div>
              <div class="row my-2">
                <div class="col-sm-1"></div>
                <div class="col-sm-10 line"></div>
                <div class="col-sm-1"></div>

              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="row">
                    <div class="col-sm-3 text-right">
                        Event To :
                    </div>
                    <div class="col-sm-9 ">
                      <span>{{EventTo}} </span>

                      </div>
                  </div>
                  <div class="row">
                      <div class="col-sm-3 text-right">
                           Feedback From:
                      </div>
                      <div class="col-sm-9">
                          <span>
                           {{DataFormArray}}
                          </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 text-right">
                            Due Date:
                        </div>
                        <div class="col-sm-9 ">                         
                              <!-- <p-calendar [(ngModel)]="DueDate"  [showIcon]="true" [yearNavigator]="true" yearRange="1900:2019"></p-calendar> -->
                               <input type="text" class="form-control datebox" [(ngModel)]="DueDate">
                          </div>
                      </div>

                </div>
                <div class="col-sm-6">
                    <!-- <div class="col-sm3">Event To : Sachin Surdikar</div>
                  <div>Feedback From : Sachin Surdikar, Ram Jogawalkar</div>
                  <div> Due Date: 31:12:2019 </div> -->
                  </div>

              </div>
              <div class="row my-2">
                  <div class="col-sm-1"></div>
                  <div class="col-sm-10 line"></div>
                  <div class="col-sm-1"></div>
  
                </div>
                <div class="row">
                    <div class="col-sm-10 underline"> 
                        <button class="btn btn-primary mr-1 add_r" (click)="Resetform()">Cancel</button>
                        <button class="btn btn-primary" (click)="Add()">Create  Event <i
                          *ngIf="spinner" class="pi pi-spin pi-spinner ml-1"></i> </button>
                      </div>
                      <div class="sol-sm-2"></div>

                </div>
           

         
          
         </div>
      </div>
    </div>


    <div class="col-sm-1 col-md-1 col-lg-1">

    </div>

  </div>
</div>