<div class="header">


    <div class="row">
      <div class="col-sm-2 col-md-3 col-lg-3 col-xl-2 col-3 logo">
        <img src="/assets/logo/360Logo.png" class="bgimg">
        Feedback
      </div>
      <div class="col-sm-10 col-md-9 col-lg-9 col-xl-10 col-9 profile" style="margin-top: 15px;">
        <div class="d-flex d-flex-row">
          <div class="mr-auto"></div>
          <div>
            <div class="mt-1">
              <p-autoComplete [(ngModel)]="text" placeholder="Seach Employee or Help" [suggestions]="results"
                (completeMethod)="search($event)"></p-autoComplete>
              <button type="submit" pButton type="button" (click)="onComplete($event)" class="ui-button-warn">
                <i class="pi pi-search" style="font-size: 1em"></i>
              </button>
  
  
  
  
            </div>
          </div>
          <div class="ml-2 mr-2 mt-2"><i class="fa fa-cog" aria-hidden="true" style="color: black;"></i></div>
          <div class="ml-2 mr-2 mt-2"><i class="fa fa-bell" aria-hidden="true" style="color: black;"></i></div>
          <div class="ml-2 mr-2 mt-2"><i class="fa fa-power-off" aria-hidden="true" style="color: black;"></i></div>
          <div class="ml-2 mr-2 mt-2"><i class="fa fa-angle-down" aria-hidden="true" style="color:black"></i></div>
          <div class="profile" style="margin-top: 0px;">
            <img class="profileImage" src="http://lorempixel.com/100/100" />
          </div>
  
        </div>
   
      </div>
  
    </div>
  
  
  </div>
  <div>
    <router-outlet></router-outlet>
  </div>





<div class="menu_bottom row">
    <div class="col-sm-3 col-md-3 col-lg-4 col-xl-4 col-1">
  
    </div>
    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4 col-10 footer">
      @ BEAUTO System Pvt. Ltd. | <a class="link"> Terms</a>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-4 col-xl-4 col-1">
  
    </div>
  
  </div>