<div class="dashboard">
  <div class="card_size">
    <div class="main row px-3">
      <div class="col-sm-1 col-md-1 col-lg-1">

      </div>
      <div class="col-lg-4 col-sm-4 col-md-4 col-4 px-3 clickable">
        <div class="info-card gradient">
          <div class="row">
            <div class="col-sm-10">
              <div class="my-1">Admin Dashboard </div>
              <div class="my-1 admin"> Admin Name : <span class="ml-1"> Milind Bhanji </span> </div>
              <div class="my-1 admin"> Designation :<span class="ml-1"> Administer </span></div>
              <div class="my-1 admin"> Employee ID :<span class="ml-1">31288 </span></div>
            </div>
            <div class="col-sm-2 float-right profile">
              <img class="profileImage" src="http://lorempixel.com/100/100" />
            </div>

          </div>
        </div>
      </div>

      <div class="col-lg-2 col-sm-2 col-md-2 col-2 px-3 clickable">
        <div class="info-card gradient">
          <div class="row">
            <div class="col-sm-9">
              <div class="my-1"> Total Events</div>
              <div class="mt-3 event"> 125 Employee</div>
            </div>

            <div class="col-sm-3 Events">
              <div class="num">
                <div class="count"> 109 </div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="col-lg-2 col-sm-2 col-md-2 col-2 px-3 clickable">
        <div class="info-card gradient">
          <div class="row">
            <div class="col-sm-9 col-lg-9 col-md-9">
              <div class="my-1"> Completed Feedback</div>
              <div class="mt-3 event"> 125 Employee</div>
            </div>

            <div class="col-sm-3 col-lg-3 col-md-3 Events">
              <div class="num1">
                <div class="count"> 109 </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="col-lg-2 col-sm-2 col-md-2 col-2 px-3 clickable">
        <div class="info-card gradient">
          <div class="row">
            <div class="col-sm-9 col-lg-9 col-md-9">
              <div class="my-1"> Pending Feedback</div>
              <div class="mt-3 event"> 125 Employee</div>
            </div>

            <div class="col-sm-3 col-lg-3 col-md-3 Events">
              <div class="num2">
                <div class="count"> 109 </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-1 col-md-1 col-lg-1">

      </div>

    </div>
  </div>

  <div class="table_box row">
    <div class="col-sm-1 col-md-1 col-lg-1">

    </div>
    <div class="col-sm-10 col-md-10 col-lg-10 my-3">
      <div class="card" style="height: 125%;">
        <div class="card-header">

          <div class="d-flex">
            <div class="p-2 mr-auto auto"><img src="../../../assets/logo/clipboard-list.png" alt=""> Events List</div>
            <div class="p-2">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search this blog">
                <div class="input-group-append">
                  <button class="btn btn-secondary" type="button">
                    <i class="fa fa-search"></i>
                  </button>
                </div>
              </div>
            </div>
            <div class="p-2">
              <button class="btn btn-primary">Create Event</button>
            </div>
          </div>

        </div>
        <div class="card-body">
          <div class="edit"> <img src="../../../assets/logo/edit.png" (click)="showDialog()" alt=""> </div>
          <!-- <img src="../../../assets/logo/clipboard-list.png" alt=""> -->
          <p-dialog header="My Report" [(visible)]="display">
            <div class="box">
              <p>The goal of 360 feedback is for you to use the feedback for your personal development , to help you
                and grow and achieve more in your career.
              </p><br>
              <p>You were given feedback on 15 different areas. We recommend that you focus on your top strengths
                and areas to improve,listed below.
              </p>
              <div class="tbl">
                <div class="row  ">
                  <div class="col-sm-6 my-1 txt1 btn1">
                    Your top 5 strengths
                  </div>
                  <div class="col-sm-6 my-1 txt btn2">
                    Your top areas to improve
                  </div>
                  <div class="col-sm-6 my-1 txt1">
                    1.Motivating and inspiring
                  </div>
                  <div class="col-sm-6 my-1 txt">
                    1.Seeking Feedback
                  </div>
                  <div class="col-sm-6 my-1 txt1">
                    2.Identifying development needs
                  </div>
                  <div class="col-sm-6 my-1 txt">
                    2.Demonstrating self development
                  </div>
                  <div class="col-sm-6 my-1 txt1">
                    3.Delegating
                  </div>
                  <div class="col-sm-6 my-1 txt">
                    3.Improving performance
                  </div>
                  <div class="col-sm-6 my-1 txt1">
                    4.Communicating clearly
                  </div>
                  <div class="col-sm-6 my-1 txt">
                    4.Handling disagreement
                  </div>
                  <div class="col-sm-6 my-1 txt1">
                    5.Giving feedback
                  </div>
                  <div class="col-sm-6 my-1 txt">
                    5.Developing strategy
                  </div>
                </div>
              </div>
              <div class="row">
                <div class=" my-1 txt1 ">
                  comments from employee:
                </div>
                <div class=" txt1 tble">
                  no comments...
                </div>
              </div>
            </div>
          </p-dialog>
          <div class="row strip my-2">

              <div class="col-sm-6 col-lg-6">
                <div class="row">
                  <div class="col-sm-6">
                    <img class="mr-1" src="../../../assets/logo/qa.png" alt=""> Feedback For :
                    <span class="namestrip1">
                      Sasidhar samala
                    </span>
                  </div>
                  <div class="col-sm-6">
                  <span class="dte">
                    Due Date :
                  </span>
                  <span class=" dte1">
                    30 Dec 2019
                  </span>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 oo">
                <a class="lnk" style="text-decoration:none" href="/">Not Submitted</a>
              </div>
  
            </div>


          <div class="row strip my-2">

            <div class="col-sm-6 col-lg-6">
              <div class="row">
                <div class="col-sm-6">
                  <img class="mr-1" src="../../../assets/logo/qa.png" alt=""> Feedback For :
                  <span class="namestrip1">
                    Sasidhar samala
                  </span>
                </div>
                <div class="col-sm-6">
                <span class="dte">
                  Due Date :
                </span>
                <span class=" dte1">
                  30 Dec 2019
                </span>
                </div>
              </div>
            </div>
            <div class="col-sm-6 oo">
              <a class="lnk" style="text-decoration:none" href="/">Not Submitted</a>
            </div>

          </div>
          <div class="row strip my-2">

              <div class="col-sm-6 col-lg-6">
                <div class="row">
                  <div class="col-sm-6">
                    <img class="mr-1" src="../../../assets/logo/qa.png" alt=""> Feedback For :
                    <span class="namestrip1">
                      Sasidhar samala
                    </span>
                  </div>
                  <div class="col-sm-6">
                  <span class="dte">
                    Due Date :
                  </span>
                  <span class=" dte1">
                    30 Dec 2019
                  </span>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 oo">
                <a class="lnk" style="text-decoration:none" href="/">Not Submitted</a>
              </div>
  
            </div>
        </div>
      </div>




    </div>


    <div class="col-sm-1 col-md-1 col-lg-1">

    </div>

  </div>
</div>