
    .menu_bottom{      
        bottom: 0px;      
        position: absolute;
        background-color: #C9C9CA;
        width: calc(100% + 11px) !important; 
      
    }
    .bgimg{
        width: 81px;
        padding: 10px;
    
    }
    .info-card {
        padding: 12px 30px 10px 27px;
        color: black;
        font-size: 10px;
        font-weight: bold;
        font-size: smaller;
      }
      .edit{
          text-align: end;
      }

     .footer{
         text-align: center;
     }
     .dashboard{
        height: 89vh;
        background-color: #ECEFF1;
     }
     .header{
        height: 75px;
     }

     .logo{
        background-color: #455A64;
        height: 75px;
        font-size: x-large;
        color: #90A4AE;
        font-weight: bold;
     }

     .link{
      color:#6C66E1
     }

     .profile{
        text-align: end;
     }

     .search{
        top: 0px;
        position: absolute;
        z-index:1;
        input, button{
            background: transparent;
          
        }
    }
    input{
        border: none;
    }

    

    :host ::ng-deep .ui-autocomplete-input {
        border: 0 ;
        border-radius: 2px;
    }
    :host ::ng-deep .ui-inputgroup input{
        width: 100% !important;
    }

    .ui-button-warn{
       background-color: white;
       border: none;
    }


    .gradient{
        background-color: white
    }
    
    .card_size{
        padding-top: 2%;
    }

    .profile{
        text-align: end;
        color: white;
        font-weight: bold;
        margin-top: 27px;
    }

    .profileImage{
        width: 45px;
        border-radius: 25px;
    }

    .fream{
        background-color: white;
    }

    .auto{
        font-weight: 1000;

        color:#3E76FF;
    }

    .head{
        background-color: #90A4AE;
        color: white;
    }

    th ,td {
        border-right: 1px solid white;
        color: white;
    }

    .table-striped tbody tr:nth-of-type(odd){
   background-color: #F4F4F5
    }

    .table-striped tbody tr:nth-of-type(even){
        background-color: #F5FBFF
         }

         .blue{
             color: #2C75FF
         }

         .red{
             color: #D2345C;
         }

         .name{
             color:#455A64 ;
         }

         tbody tr:hover{
              background-color: #D5EAF8 !important; 
         }

          .btn-secondary{
            background-color: #CFD8DC;
            border: #CFD8DC;
         }

        span{
            color: #263238bf;
        }
        .admin{
            color: #808080b0;
            font-size: 14px;
        }
         .head{
             height: 10px!important;
         }

         table td, .table th {
            padding: 7px 5px 7px 13px;
            // vertical-align: top;
            border-top: 1px solid #dee2e6;
        }

        
        span.red {
            width: 49px;
    height: 49px;
    border-radius: 25px;
    margin: auto;
    padding-top: 12px;
    background: red;
          }
         
 .count{
        padding: 12px 0px 0px 12px;
        color: white;
        font-weight: 900;
        font-size: x-large;
     }


          .num{
            background-color: #5632FF;
            margin-top: 18px;
            border-radius: 73px;
            width: 55px;
            height: 55px;
          }
          .num1{
            background-color: #00E35B;
            margin-top: 18px;
            border-radius: 73px;
            width: 55px;
            height: 55px;
          }
          .num2{
            background-color: #DF0058;
            margin-top: 18px;
            border-radius: 73px;
            width: 55px;
            height: 55px;
          }

          .event{
            color: #808080b0;
            font-size: 16px;
           
          }

          .Events{
            margin: 0px 0px 23px -27px
          }
          
          .eventt{
            color: #808080b0;
            font-size: 14px;
            padding-bottom: 9px;
          }
          .box{
            width: 650px;
            height: 446px;
          }
          .tbl{
            background-color: #F4F4F5;
            width: 700;
            border: 1px solid gray;
            margin: 20px;
            height: 216px;
            border: 1px solid #D3D3D3;
          }
          .a{
            display: inline; /* the default for span */
            //width: 100px;
           // height: 100px;
          //  padding: 5px;
            border: 1px solid white;  
            background-color: #00E35B; 
          }
          .b{
            display: inline; /* the default for span */
           // width: 100px;
           // height: 100px;
           // padding: 5px;
            border: 1px solid white;  
            background-color: #DF0058; 
          }
          .btn1{
              background-color: #00E35B;
              left: 15px;
              height: 34px;
              margin-top: 0rem!important;
              font-weight: bold;
              font-size: 16px;
            color: white;
            padding: 5px;
                  }
                  .dialogHeader{
                    color: #157DEC;
                    font-weight: 700;
                }

          .btn2{
            background-color: #DF0058;
            right: 2%;
              height: 34px;
              margin-top: 0rem!important;
              font-size: 16px;
              right: 15px;
              font-weight: bold;
              color: white;
              padding: 5px;
          }
          .text_a{
            width: 417px;
            border: 1px solid #D3D3D3;
            border-radius: 6px;
          }
         
          .tble{
         
              width: 10px;
             height: 50px;
              border: 1px solid black; 
             width: 424px;
        
          border-radius: 6px;
          margin-left: 10px;
          border: 1px solid #D3D3D3;
          }
          .comm{
            margin-left: 35px;
          }
          .report{
            color: #157DEC;
            margin-left: 10px;

          }

          .strip{
            background-color: #F4F4F5;
            padding: 10px;;
          }
          
        //   .strip {
        //     background-color: #F4F4F5;
        //     width: 100%;
        //     height: 44px;
        //     padding: 12px;
        //     font-weight: bold;
        //     margin-left: 13px;
        //     margin-right: 9px;
        //     }
        //     .lnk{
        //     margin-left: 70%;
        //     }
        //     .lnk1{
        //     margin-left: 70%;
        //     color: gray;
        //     }
        //     .name{
        //     font-weight: 700;
        //     color: blue;
        //     }
            .dte{
                    color: #253238;
            }
            .dte1{
            color: #5D7C8C;
            font-weight: bold;
            }
        //     .strip1 {
        //     margin-top: 13px;
        //     background-color: #F4F4F5;
        //     width: 100%;
        //     height: 44px;
        //     padding: 12px;
        //     font-weight: bold;
        //     margin-left: 13px;
        //     margin-right: 9px;
        //     }

        .namestrip1{
                font-weight: 700;
                color:#3E76FF;
                }

                .oo{
                    text-align: end;
                }
                
                  .feedback{
                    font-weight: bold;
                    color: #223239;
                                         
                }