
    .menu_bottom{      
        bottom: 0px;      
        position: absolute;
        background-color: #C9C9CA;
        width: calc(100% + 16px);
      
    }
     .footer{
         text-align: center;
     }
     .dashboard{
        height: 100vh;
        background-color: #ECEFF1;
     }
     .header{
        height: 75px;
     }