<div class="dashboard">
  <div class="card_size">
    <div class="main row px-3">
      <div class="col-sm-1 col-md-1 col-lg-1">

      </div>
      <div class="col-lg-4 col-sm-4 col-md-4 col-4 px-3 clickable">
        <div class="info-card gradient">
          <div class="row">
            <div class="col-sm-7">
              <div class="my-1">Employee Dashboard </div>
              <div class="my-1 admin"> Employee Name : <span class="ml-1"> {{name}} </span> </div>
              <div class="my-1 admin"> Designation :<span class="ml-1"> {{designation}} </span></div>
              <div class="my-1 admin"> Employee ID :<span class="ml-1">{{empid}} </span></div>
            </div>
            <div class="col-sm-1 float-right profile">
              <img class="profileImage" src="http://lorempixel.com/100/100" />
            </div>
            <div class="col-sm-4 mt-3">
              <button class="btn btn-primary mt-3" style="margin-left: 17px;" (click)="showDialog()">My Report</button>
        
            </div>
           

          </div>
        </div>
      </div>

      <div class="col-lg-2 col-sm-2 col-md-2 col-2 px-3 clickable">
        <div class="info-card gradient">

          <div class="my-1 text-center"> Invited Employee</div>



          <div class="num icon">
            <div class="count"> 03 </div>
          </div>


        </div>
      </div>

      <div class="col-lg-2 col-sm-2 col-md-2 col-2 px-3 clickable">
        <div class="info-card gradient">
          <div class="my-1 text-center"> Received Feedback</div>

          <div class="num1 icon">
            <div class="count"> 01 </div>
          </div>
        
    </div>
  </div>


  <div class="col-lg-2 col-sm-2 col-md-2 col-2 px-3 clickable">
    <div class="info-card gradient">
      <div class="my-1 text-center"> Pending Feedback</div>

      <div class="num2 icon">
        <div class="count"> 02 </div>
      </div>

    </div>
  </div>
  <div class="col-sm-1 col-md-1 col-lg-1">

  </div>

</div>
</div>

<div class="table_box row">
  <div class="col-sm-1 col-md-1 col-lg-1">

  </div>
  <div class="col-sm-10 col-md-10 col-lg-10 my-3">
    <div class="card" style="height: 125%;">
      <div class="card-header">

        <div class="d-flex">
          <div class="p-2 mr-auto auto "><img src="../../../assets/logo/clipboard-list.png" alt=""> My Events </div>
          <div class="p-2">
            <div class="input-group">
              <input type="text" class="form-control" [(ngModel)]="term" placeholder="Search Event ">
              <div class="input-group-append">
                <button class="btn btn-secondary" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="p-2">
           </div>
        </div>

      </div>
      <div class="card-body">
        <p-dialog [(visible)]="display">
          <p-header class="dialogHeader">
            <img src="../../../assets/logo/clipboard-list.png" alt="">
            <span class="report"> My Report</span>
          </p-header>

          <div class="box">
            <p>The goal of 360 feedback is for you to use the feedback for your personal development , to help you
              and grow and achieve more in your career.
            </p><br>
            <p>You were given feedback on 15 different areas. We recommend that you focus on your top strengths
              and areas to improve,listed below.
            </p>
            <div class="tbl">
              <div class="row ">
                <div class="col-sm-6 my-1 txt1 btn1">
                  Your top 5 strengths
                </div>
                <div class="col-sm-6 my-1 txt btn2">
                  Your top areas to improve
                </div>
                <div class="col-sm-6 my-1 txt1">
                  1.{{my_report?.questionRewardsDtos[0]?.question}}
                </div>
                <div class="col-sm-6 my-1 txt">
                  1.{{my_report?.questionRewardsDtos[2]?.question}}
                </div>
                <div class="col-sm-6 my-1 txt1">
                  2.{{my_report?.questionRewardsDtos[1]?.question}}
                </div>
                <div class="col-sm-6 my-1 txt">
                  2.{{my_report?.questionRewardsDtos[3]?.question}}
                </div>
                <!-- <div class="col-sm-6 my-1 txt1">
                3.Delegating
                </div>
                <div class="col-sm-6 my-1 txt">
                3.Improving performance
                </div>
                <div class="col-sm-6 my-1 txt1">
                4.Communicating clearly
                </div>
                <div class="col-sm-6 my-1 txt">
                4.Handling disagreement
                </div>
                <div class="col-sm-6 my-1 txt1">
                5.Giving feedback
                </div>
                <div class="col-sm-6 my-1 txt">
                5.Developing strategy
                </div> -->
              </div>
            </div>

            <div class="row ">
              <!-- <div class=" my-1 txt1 comm ">
                comments from employee:
                </div> -->
              <!-- <div class="col sm-12 ">
                 
                  <textarea class="text_a"rows="2" id="comment"></textarea>
              
               </div> -->
            </div>
          </div>
        </p-dialog>
        <div class="row strip my-2" *ngFor="let data of detailem_info |filter:term">

          <div class="col-sm-6 col-lg-6" (click)="showfeedback(data.toEmpId,data.dueDate,data.fromEmpName)">
            <div class="row">
              <div class="col-sm-6">
                <img class="mr-1" src="../../../assets/logo/qa.png" alt="">
                <span class="feedback">Feedback For :</span>
                <span class="namestrip1">
                  {{data.dueDate}}
                </span>
              </div>
              <div class="col-sm-6">
                <span class="dte feedback">
                  Due Date :
                </span>
                <span class=" dte1">
                  {{data.fromEmpName}}
                </span>
              </div>
            </div>
          </div>
          <div class="col-sm-6 oo">
            <!-- <a class="lnk" style="text-decoration:none" href="/">Not Submitted</a> -->
          </div>

        </div>


        <!-- <div class="row strip my-2" (click)="showfeedback()">

            <div class="col-sm-6 col-lg-6">
              <div class="row">
                <div class="col-sm-6">
                  <img class="mr-1 " src="../../../assets/logo/qa.png" alt=""> <span class="feedback">Feedback For :</span>
                  <span class="namestrip1">
                    Sasidhar samala
                  </span>
                </div>
                <div class="col-sm-6">
                <span class="dte feedback">
                  Due Date :
                </span>
                <span class=" dte1">
                  30 Dec 2019
                </span>
                </div>
              </div>
            </div>
            <div class="col-sm-6 oo">
              <a class="lnk" style="text-decoration:none" href="/">Not Submitted</a>
            </div>

          </div> -->
        <!-- <div class="row strip my-2" (click)="showfeedback()">

              <div class="col-sm-6 col-lg-6">
                <div class="row">
                  <div class="col-sm-6">
                    <img class="mr-1 " src="../../../assets/logo/qa.png" alt=""><span class="feedback">Feedback For :</span>
                    <span class="namestrip1">
                      Sasidhar samala
                    </span>
                  </div>
                  <div class="col-sm-6">
                  <span class="dte feedback">
                    Due Date :
                  </span>
                  <span class=" dte1">
                    30 Dec 2019
                  </span>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 oo">
                <a class="lnk" style="text-decoration:none" href="/">Not Submitted</a>
              </div>
  
            </div> -->
      </div>
    </div>




  </div>


  <div class="col-sm-1 col-md-1 col-lg-1">

  </div>

</div>
</div>